* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
body{
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    overflow-y: scroll;
}

.gray-line {
    height: 1px; 
    background-color: rgb(50,50,50);
    width: 90%; /* Adjust this value to make the line shorter or longer */
    max-width: 1900px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the line horizontally */
  }

/* NAVBAR */
.navbarContainer{
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

/*.navbarBTN{
    background-color: white;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.navbarBTN:hover{
    background-color: black;
    color: white;
    transition-duration: 500ms;
}*/

.navCVText{
    padding-top: 10px;
    font-weight: 300;
    padding-right: 10px;
}

.logo{
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    object-fit: cover;
}

.menu{
    border-radius: 20px;
    background-color: #141414;
    align-items: center;
    display: flex;
    font-size: 20px;
    gap: 10px;
    height: 50px;
    border: 1px solid white;
    margin-right: 20px;
    margin-top: 10px;
}

.menuItem{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}

.menuItem:hover{
    text-decoration: underline;
    color: #938200;
    transition-duration: 600ms;
    padding-bottom: 5px;
}




/* HOME */
.homeContainer{
    display: flex;
    gap: 20px;
    padding-top: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    z-index: 2; /* Ensure text is above the image */
    position: relative; /* Add this */
}

.pfp{
    border-radius: 300px;
    width: 600px;
    margin-right: 100px;
    object-fit: cover;
    border: 3px solid white;
}

.span1{
    color: gray;
    font-weight: 200;
    font-size: 40px;
}

.span2{
    color: white;
    font-weight: 200;
    font-size: 60px;
}

.span3{
    color: #dbc300;;
    font-weight: 400;
    font-size: 60px;
}

.jobTitle{
    color: white;
    font-weight: 400;
    font-size: 80px;
}

.paragraphHome{
    color: gray;
    font-weight: 200;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .homeContainer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .textContainer {
        padding-left: 0;
        z-index: 2;
    }

    .pfp {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        position: absolute;
        opacity: 0.3; /* Make the image semi-transparent */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .span1, .span2, .span3 {
        align-self: center;
    }
}


/* EDUCATION */
.eduContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eduTitleContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.eduContentContainer{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.eduTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.eduUni{
    font-weight: 400;
    color: white;
    font-size: 40px;
}

.eduDegree{
    color: gray;
    font-weight: 200;
    font-size: 30px;
    font-style: italic;
}

.eduSpan1{
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.eduSpan2{
    font-weight: 200;
    color: gray;
    font-size: 20px;
}

@media (max-width: 768px) {

    .eduContentContainer{
        padding-left: 0;
        padding-right: 4;
    }

    .eduUni, .eduDegree, .eduSpan1, .eduSpan2{
        font-size: 21px;
    }
}



/* TECHNOLOGIES */
.techContainer{
    display: flex;
    flex-direction: column;
}

.techTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}   

.techParaContainer{
    display: flex;
    padding-left: 100px;
}

.techTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.techPara{
    font-weight: 200;
    color: gray;
    font-size: 25px;
}

.backendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backendItemsContainer{
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    row-gap: 40px; /* Gaps vertically */
    column-gap: 80px; /* Gaps horizontally */
    justify-content: center;
}

.backendTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.Item{
    background-color: #141414;
    border: 1px solid black;
    display: flex;
    border-radius: 20px;
    max-width: 400px;
    width: 200px;
    height: 90px;
}

.Item:hover{
    background-color: rgb(50,50,50);
    transition-duration: 700ms;
}

.CHASHimg{
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.CHASHtext{
    color: white;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

.JAVAtext{
    color: white;
    font-weight: 200;
    font-size: 30px;
    padding-top: 25px;
    padding-left: 15px;
}

.SQLtext{
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding-top: 18px;
    padding-left: 7px;
}

.frontendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontendItemsContainer{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 80px;
    justify-content: center;
}

.frontendTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.HTMLtext{
    color: white;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.JStext{
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 10px;
}

.frameworkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frameworkItemsContainer{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 80px;
    justify-content: center;
}

.frameworkTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.REACTtext{
    color: white;
    font-weight: 200;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 15px;
}

.NETtext{
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 15px;
}

@media (max-width: 768px) {

    .techParaContainer{
        padding-left: 0;
    }
}



/* PROJECTS */
.projectsContainer{
    display: flex;
    flex-direction: column;
}

.projTitleContainer{
    display: flex;
    justify-content: center;
}

.projTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.projParaContainer{
    display: flex;
    align-self: flex-start;
    padding-left: 100px;
}

.projPara{
    color: gray;
    font-size: 25px;
    font-weight: 200;
}

.projItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.projItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
    max-width: 1200px; /* Reduce maximum width */
    width: 100%; /* Full width for small screens */
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box; /* Include padding in the width and height */
}

.itemIMG{
    height: 500px;
    align-self: center;
    border-radius: 35px;
    border: 1px solid rgb(50,50,50);
    object-fit: cover;
}

.rentIMG{
    height: 500px;
    align-self: center;
    border-radius: 35px;
    border: 1px solid rgb(50,50,50);
    object-fit: cover;
}

.projHead{
    font-weight: 200;
    color: white;
    font-size: 35px;
    padding-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
.arrow-button {
    background-color: #ffffff; 
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 1000ms;
  }
  
  .arrow-button:hover{
    background-color: gray;
  }

.projEnd{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.projEndText{
    color: gray;
    font-weight: 200;
    font-size: 30px;
}

@media (max-width: 768px) {
    .rentIMG {
      max-width: 700px; /* Further reduce the maximum width */
      max-height: 250px; /* Further reduce the maximum height */
      height: auto;
    }

    .projParaContainer{
        padding-left: 0;
    }
}

/* EXPERIENCE */

#Experience{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.expTitle{
    font-weight: 400;
    color: white;
    font-size: 50px;
    align-self: center;
}

.expCompany{
    font-weight: 300;
    color: white;
    font-size: 40px;
    padding-left: 100px;
}

.expType{
    color: gray;
    font-weight: 200;
    font-size: 30px;
    padding-left: 100px;
}

.expPosition{
    font-weight: 200;
    color: white;
    font-size: 40px;
    padding-left: 100px;
}

.Footer{
    display: flex;
    gap: 40px;
    background-color: #141414;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
}

.footerIMG{
    height: 40px;
    cursor: pointer;
}




